body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  max-width: 1400px;
  margin: auto;
}

/*------FONT------*/
a {
  cursor: default;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
h1 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 26px;
}
h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
h3 {
  margin-left: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
h4 {
  font-size: 0.9em;
  margin-top: none;
  padding-top: none;
}
/*------FONT------*/
/*------HOVER------*/
.card-hover:hover {
  color: #0065fc;
  box-shadow: 5px 5px 5px #a09e9e, -5px 5px 5px #a09e9e;
}
/*------HEADER------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px 20px 37px;
}
/*Logo*/
.header-img {
  width: 61px;
}
/*Nav menu*/
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

nav li a:hover {
  color: #0065fc;
  border-top: 3px #0065fc solid;
}

a:visited {
  text-decoration: none;
}

nav li a {
  padding: 20px;
}

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
}
/*------HEADER------*/
.main {
  padding: 0px 35px 0px 35px;
}
/*------SEARCH------*/
/*Search Header*/
.search-header {
  display: flex;
  flex-direction: column;
}

.search-header-subtitle {
  padding-bottom: 20px;
}
/*Search form*/
.search-form {
  display: inline-flex;
  width: 20%;
  height: 49px;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  background-color: #f2f2f2;
}
.location {
  margin: 25px;
}
.search-form-input {
  width: 332px;
  height: 49px;
  padding-left: 10px;
  border: none;
  background-color: white;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
input::placeholder {
  opacity: 1;
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.search-form-button {
  width: 132px;
  height: 49px;
  cursor: pointer;
  border: none;
  display: flex;
  padding: 15px 16px;
  justify-content: center;
  align-items: center;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
}
.search-form-button-text {
  color: white;
  font-weight: 700;
  font-size: 18px;
}
/*------SEARCH------*/

/*------FILTER------*/
/*filters box*/
.search-filters {
  display: flex;
  align-items: baseline;
  max-width: fit-content;
}
.search-filter-container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 710px;
}
.search-filters-title {
  color: black;
  font-size: 18px;
  font-weight: 700;
}
/*filters items*/
.search-filters-filter {
  display: flex;
  align-items: baseline;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  background-color: white;
  padding: 0% 2% 0% 2%;
  margin-left: 2%;
}
.search-filters-filter:hover {
  background-color: #deebff;
}
.search-filters-filter-icon {
  padding-right: 10px;
  color: #0065fc;
  font-size: 17px;
}
.search-filters-filter-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
.filters-description {
  display: flex;
  align-items: center;
}
.fa-info {
  color: #0065fc;
  font-size: 0.7em;
}
#cercle-icon {
  border: 1px solid #deebff;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  font-size: 0.9em;
}
/*------FILTER------*/

/*------CARDS BLOC CONTAINER------*/
/* Contient Hosting et Popular */
.cards-bloc-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
  margin-top: 20px;
}

/*------HOSTING------*/
/*hosting box*/
.hosting {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 15px;
  max-width: 66%;
  height: fit-content;
}
/*all cards box*/
.hosting-bloc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 12px 6px 25px 6px;
}
/*card*/
.hosting-card {
  height: 200px;
  width: 230px;
  background-color: white;
  box-shadow: 5px 5px 5px #f2f2f2, -5px 5px 5px #e9e2e2;
  transition: 0.4s;
  border-radius: 20px;
  padding: 6px;
  margin: 6px;
}
.hosting-card-img {
  height: 125px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.price {
  font-size: 14px;
  font-weight: 400;
}
.euros {
  font-weight: bold;
}
.hosting-info {
  margin-top: none;
  padding-top: none;
  margin-left: 8px;
  line-height: 1px;
}
.review {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 8px;
}
.review .blue-star {
  color: #0065fc;
}
.review .grey-star {
  color: #f2f2f2;
}
/*hosting footer*/
.hosting-footer {
  font-weight: 700;
  font-size: 18px;
  color: black;
  padding-left: 15px;
}
.hosting-footer-link:hover {
  color: #0065fc;
  text-decoration: underline;
}
/*------HOSTING------*/

/*------POPULAR------*/
.popular {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 15px;
  width: 25%;
}
.popular-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px 0 15px;
}
.graph-icon {
  color: #0065fc;
  padding-top: 25px; /*refaire plus propre ??*/
}
.popular-bloc {
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-between;
  margin: 12px 6px 25px 6px;
}
.popular-card {
  display: flex;
  flex-direction: row;
  height: 130px;
  background-color: white;
  box-shadow: 0px 5px 5px #f2f2f2, -5px 5px 5px #e9e2e2;
  transition: 0.4s;
  border-radius: 20px;
  padding: 6px;
  margin: 6px;
}
.popular-card-img {
  width: 125px;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}
.popular-desc {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
/*------POPULAR------*/

/*------ACTIVITY------*/
.activity {
  background-color: white;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
}
.activity-bloc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.activity a {
  width: 23%;
}
.activity-card {
  height: 445px;
  margin-top: 15px;
}
.activity-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 20px;
  box-shadow: 0px 5px 5px #f2f2f2, -5px 5px 5px #e9e2e2;
  transition: 0.4s;
}
.activity-card-img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  overflow: hidden;
}
.activity-card-title {
  display: flex;
  justify-content: center;
  padding-right: 50px;
  font-size: 14px;
}
/*------ACTIVITY------*/

/*------FOOTER------*/
.footer {
  background-color: #f2f2f2;
  margin-top: 50px;
  padding-top: 10px;
  width: 99%;
}
.footer-containers {
  display: flex;
  justify-content: space-around;
}
.footer-container {
  margin-right: 70px;
  padding: 20px 0px 5px 0px;
}
.footer-container-title {
  font-weight: 700;
  font-size: 18px;
}
.footer-container-list {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  padding-left: 20px;
}
.footer-container-list a:hover {
  text-decoration: underline;
}

/* Tablette */

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* PAGE */
  .cards-bloc-container {
    flex-direction: column;
  }
  .search-filters-container {
    width: 100%;
  }
  .search-filters-filter {
    margin-left: 2%;
  }
  .popular {
    max-width: 100%;
    height: 230px;
  }
  .popular-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hosting {
    max-width: 100%;
  }
  .activity-bloc {
    width: 100%;
  }
  .activity-card {
    height: 280px;
  }
  .activity-card-img {
    height: 250px;
  }
}
