* {
  font-family: 'Raleway', sans-serif;
  max-width: 1400px;
  scroll-behavior: smooth;
}
body {
  margin: 0 30px;
  max-width: 1400px;
  height: 1500px; /* DISABLE THIS */
  border: solid red; /* DISABLE THIS */
}
.main {
  padding: 0 10px 0 10px;
}

/*------FONT------*/
a {
  cursor: default;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}
h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
h3 {
  margin-left: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
h4 {
  font-size: 0.9em;
  margin-top: none;
  padding-top: none;
}
/*------FONT------*/

/*------HEADER------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px 40px 10px;
}
/*Logo*/
.header-img {
  width: 61px;
}
/*Nav menu*/
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

nav li a:hover {
  color: #0065fc;
  border-top: 3px #0065fc solid;
}

a:visited {
  text-decoration: none;
}

nav li a {
  padding: 20px;
}

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
}
/*------HEADER------*/

/*------SEARCH------*/
/*Search Header*/
.search-header {
  display: flex;
  flex-direction: column;
}

.search-header-subtitle {
  padding-bottom: 20px;
}
/*Search form*/
.search-form {
  display: inline-flex;
  width: 332px;
  height: 49px;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  background-color: #f2f2f2;
}
.location {
  margin: 25px;
}
.search-form-input {
  width: 332px;
  height: 49px;
  padding-left: 10px;
  border: none;
  background-color: white;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
input::placeholder {
  opacity: 1;
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.search-form-button {
  width: 132px;
  height: 49px;
  cursor: pointer;
  border: none;
  display: flex;
  padding: 15px 16px;
  justify-content: center;
  align-items: center;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
}
.search-form-button-text {
  color: white;
  font-weight: 700;
  font-size: 18px;
}
/*------SEARCH------*/

/*------FILTER------*/
/*filters box*/
.search-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  width: 950px;
  height: 49px;
}
.search-filters-title {
  color: black;
  font-size: 18px;
  font-weight: 700;
}
/*filters items*/
.search-filters-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  background-color: white;
}
.search-filters-filter:hover {
  background-color: #deebff;
}
.search-filters-filter-icon {
  padding-right: 10px;
  color: #0065fc;
  font-size: 17px;
}
.search-filters-filter-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
.filters-description p {
  display: inline;
  margin-left: 10px;
  line-height: 60px;
}
.filters-description .fa-info {
  display: inline;
  color: #0065fc;
  border: solid 1px #f2f2f2;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  border-radius: 50px;
}
/*------FILTER------*/

/*------CARDS BLOC CONTAINER------*/
/* Contient Hosting et Popular */
.card-bloc-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
  margin-top: 20px;
}

/*------HOSTING------*/
/*hosting box*/
.hosting {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 15px;
  width: 880px;
  height: 626px;
  height: fit-content;
}
/*all cards box*/
.hosting-bloc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 12px 6px 25px 6px;
}
/*card*/
.hosting-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 199px;
  width: 248px;
  background-color: white;
  box-shadow: 5px 5px 5px #f2f2f2, -5px 5px 5px #e9e2e2;
  transition: 0.4s;
  border-radius: 20px;
  padding: 6px;
  margin: 6px;
}
.hosting-card:hover {
  color: #0065fc;
  box-shadow: 5px 5px 5px #a09e9e, -5px 5px 5px #a09e9e;
}
.card-img {
  height: 125px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.price {
  font-size: 14px;
  font-weight: 400;
}
.euros {
  font-weight: bold;
}
.hosting-info {
  margin-top: none;
  padding-top: none;
  margin-left: 8px;
  line-height: 1px;
}
.review {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 8px;
}
.review .blue-star {
  color: #0065fc;
}
.review .grey-star {
  color: #f2f2f2;
}
/*hosting footer*/
.hosting-footer {
  font-weight: 700;
  font-size: 18px;
  color: black;
  padding-left: 15px;
}
.hosting-footer-link:hover {
  color: #0065fc;
  text-decoration: underline;
}
/*------HOSTING------*/
