body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

#bloc-page {
  max-width: 1400px;
  margin: auto;
}

/*------HOVER------*/
.card-hover:hover {
  color: #0065fc;
  box-shadow: 5px 5px 5px #a09e9e, -5px 5px 5px #a09e9e;
}
a {
  text-decoration: none;
  color: black;
}
/*------HEADER------*/
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}
.header-img {
  width: 61px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 60px;
}
.header-nav-option {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header-nav-option a {
  text-decoration: none;
  color: black;
  padding-top: 20px;
}
.header-nav-option a:hover {
  border-top: solid #0065fc;
}
a:visited {
  text-decoration: none;
}
/*------HEADER------*/
.main {
  padding: 0px 35px 0px 35px;
}
/*------SEARCH------*/
/*Search Header*/
.search-header-title {
  font-size: 1.3em;
}

/*Search form*/
.search-form {
  display: inline-flex;
  width: 20%;
  height: 49px;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  background-color: #f2f2f2;
}
.location {
  margin: 25px;
}
.search-form-input {
  width: 332px;
  height: 49px;
  padding-left: 10px;
  border: none;
  background-color: white;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
input::placeholder {
  opacity: 1;
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.search-form-button {
  width: 132px;
  height: 49px;
  cursor: pointer;
  border: none;
  display: flex;
  padding: 15px 16px;
  justify-content: center;
  align-items: center;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
}
.search-form-button-text {
  color: white;
  font-weight: 700;
  font-size: 18px;
}
/*------SEARCH------*/

/*------FILTER------*/
/*filters box*/
.search-filters {
  display: flex;
  align-items: baseline;
}
.search-filters-title {
  font-size: 1.1em;
}
.search-filter-container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}
/*filters items*/
.search-filters-filter {
  display: flex;
  align-items: baseline;
  border: 2px solid #dae0e8;
  background-color: white;
  border-radius: 50px;
  padding: 0% 2% 0% 2%;
  margin-left: 2%;
}
.search-filters-filter:hover {
  background-color: #deebff;
}
.search-filters-filter-icon {
  margin-right: 10px;
  color: #0065fc;
}
.search-filters-filter-title {
  font-size: 0.9em;
  font-weight: 700;
}
/*search result*/
.filters-description {
  display: flex;
  align-items: center;
}
.fa-info {
  color: #0065fc;
  font-size: 0.7em;
}
#cercle-icon {
  border: 1px solid #deebff;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  font-size: 0.9em;
}
/*------FILTER------*/

/*------CARDS BLOC CONTAINER------*/
/* Contient Hosting et Popular */
.cards-bloc-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
  margin-top: 20px;
}

/*------HOSTING------*/
/*hosting box*/
.hosting {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-top: 25px;
  padding: 20px;
  max-width: 60%;
}
/*all cards box*/
.hosting-bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1%;
}
#hosting {
  font-size: 1.1em;
  margin-left: 20px;
}
/*card*/
.hosting-card {
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  width: 29%;
  height: 170px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px #dcdcdc;
  padding: 4px;
}
.hosting-card-img {
  width: 100%;
  height: 110px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.hosting-info h4 {
  font-size: 0.8em;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 3px;
}
.hosting-info p {
  font-size: 0.7em;
  font-weight: 500;
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 0px;
}
.euros {
  font-weight: 700;
}
.review {
  font-size: small;
  margin-left: 10px;
  margin-top: 3px;
}
.blue-star {
  color: #0065fc;
}
.grey-star {
  color: #f2f2f2;
}
/*hosting footer*/
.hosting-footer-link {
  font-weight: 700;
  font-size: 0.9em;
  padding-left: 20px;
  margin-top: 70px;
}
.hosting-footer-link:hover {
  color: #0065fc;
  text-decoration: underline;
}
/*------HOSTING------*/

/*------POPULAR------*/
.popular {
  background-color: #f2f2f2;
  border-radius: 20px;
  max-width: 30%;
  height: 530px;
  margin-top: 25px;
  padding: 2%;
}
.popular-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
#popular {
  font-size: 1.1em;
  margin-left: 20px;
}
.graph-icon {
  font-size: 1.1em;
  color: #0065fc;
  margin-right: 5%;
}
.popular-bloc {
  margin: 2%;
}
.popular-card {
  display: flex;
  flex-direction: row;
  height: 140px;
  background-color: white;
  box-shadow: 0px 5px 5px #f2f2f2, -5px 5px 5px #e9e2e2;
  transition: 0.4s;
  border-radius: 20px;
  min-width: 270px;
  margin-bottom: 5%;
}
.popular-desc {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  justify-content: space-between;
}
.popular-info h4 {
  font-size: 0.8em;
  margin-left: 5%;
}
.popular-info p {
  font-size: 0.7em;
  font-weight: 500;
  margin-left: 5%;
}
.popular-card-img {
  padding: 4px;
  max-width: 40%;
  min-width: 40%;
}
.popular-card img {
  width: 100%;
  height: 132px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

/*------POPULAR------*/

/*------ACTIVITY------*/
.activity {
  margin-top: 3%;
}
#activity {
  font-size: 1.1em;
}
.activity-bloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.activity-card-content {
  background-color: white;
  box-shadow: 5px 5px 5px #dcdcdc;
  border-radius: 15px;
  width: 23%;
  height: 340px;
}
.activity-card-img {
  width: 100%;
  height: 300px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.activity-card-content h4 {
  font-size: 0.8em;
  margin-left: 15px;
  margin-top: 5px;
}
/*------ACTIVITY------*/

/*------FOOTER------*/
.footer {
  background-color: #f2f2f2;
  margin: 35px 35px 0px 35px;
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 4%;
}

.footer-container {
  margin-top: 3%;
  margin-bottom: 2%;
}

.footer h4 {
  font-size: 0.9em;
}

.footer p {
  font-size: 0.8em;
}

/* Tablette */

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* PAGE */
  .cards-bloc-container {
    flex-direction: column;
  }
  .search-filter-container {
    width: 100%;
  }
  .search-filters-filter {
    margin-left: 2%;
  }
  .hosting {
    max-width: 100%;
  }
  .hosting-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .popular {
    max-width: 100%;
    height: 230px;
  }
  .popular-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
  }
  .popular-card {
    max-width: 30%;
    min-width: 30%;
  }
  .activity-card-content {
    height: 290px;
    width: 23%;
  }
  .activity-card-img {
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
}
